body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f13030;
    padding: 20px;
    text-align: left;
    overflow: hidden; /* Ensure the header contains the floated image */
}

header img {
    float: right;
    margin-right: 20px;
    width: 150px; /* Adjust the width as needed */
    height: auto;
}

header h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

header p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    background: #fce4ec;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-icons ul {
    list-style: none;
    padding: 0;
}

.footer-icons ul li {
    display: inline;
    margin: 0 10px;
}

.footer-icons ul li a {
    color: white;
}

.copyright {
    color: #95AAB6;
}

img {
    max-width: 100%;
    height: auto;
}
